/**
 * Таблицы стилей для модуля Parser
 */
#parser-menu{
    width: 100%;
    min-height: 50px;
    background-color: white;
    border: solid 2px;
    padding: 5px;
    border-radius: 5px;
    border-color: #dce1e5;
}
#parser-content{
    width: 100%;
    min-height: 300px;
    border: solid 2px;
    padding: 5px;
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
    border-color: #dce1e5;
    margin-bottom: 10px;
}
.parser-nav-bar{
    margin: auto;
    width: 100%;
    height: 50px;
    /* border-bottom: solid 2px; */
    /* border-top: solid 2px; */
    border: solid 2px;
    border-color: #a9a7ad;
    margin-bottom: 5px;
    /* border: solid 2px; */
    padding-top: 8px;
    background-color: #37474f;
    border-radius: 5px;
}
.parser-nav-bar-container{
    float: left;
    margin-right: 5px;
    /* border-left: solid 2px; */
    /* height: 30px; */
    padding-left: 5px;
    /* border-color: #dce1e5; */
}
.parser-content-header{
    border: solid 2px;
    border-color: #dce1e5;
    text-align: center;
    margin-bottom: 5px;
    background-color: #3c4554;
    color: white;
    font-size: 20px;
}
/*
 * Вкладки, кнопки
 */
.col,.col-sm-3, .col-3, .col-4, .col-8{

}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #29318b !important;
    color: white !important;
}
.nav-link{
    color: black !important;
}
/**
 * ПАГИНАЦИЯ
 */
#pagination-content{
    margin-bottom: 10px;
}
#pagination{
    display: flex;
    align-items: center;
    justify-content: center
}
/*----------------------------------------------------------------------*/
                                /*Time Line*/
/*----------------------------------------------------------------------*/
.table {
    display: table;
    table-layout:fixed;
    width: 100%;
}
.tableCell {
    display: table-cell;
    text-align: center;
}
.bulletWrap { position: relative; }
.bulletWrap .before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    height: 4px;
    background: #535353;
    width: 100%;
}
.bulletWrap .after{
    position: absolute;
    content: "";
    left: 10%;
    top: 50%;
    height: 4px;
    background: #535353;
    width: 100%;
}
.bulletWrap .after { width: 0; background: red; }
.slide span {
    width: 50px;
    height: 50px;
    background: #1c1c1c;
    color: #ffffff;
    display: inline-block;
    border-radius: 100%;
    border: 4px solid #535353;
    transition: 0.3s all ease;
    position: relative;
}
.slide span.active, .slide span.inactive:hover {
    background: #e23a18;
    border-color: #e23a18;
}
.slide span.inactive {
    background: #605f60;
    border-color: #8a8b8b;
}
.slide span i {
    font-size: 25px;
    line-height: 40px;
}
/*CHECKBOX*/
.hidden-checkbox{ display:none; }

label div{
    width:23px;
    height:23px;
    display:inline-block;
    border:2px solid #858585;
    text-align:center;
    line-height:20px;
    margin-right:6px;
    border-radius:3px;
    cursor:pointer;
}

label i{ font-size:16px; opacity:0; }
label:hover div{ background: #e4dfdd; }
input:checked+label i{ opacity:1; }
input:checked+label div{ background: #d3d2d9; }
/*Загрузка файлов*/
.single_file{
    float: left;
    min-height: 70px;
    min-width: 70px;
    border: solid 1px;
    border-radius: 5px;
    background-color: #cce5ff;
    border-color: #b8daff;
    margin: 3px;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.single_file i{
    font-size: 20px;
    line-height: 45px;
    color: #004085;
}
#files_container{
    display: flex;
    width: 100%;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    border-radius: 5px;
    padding: 6px 12px;
    cursor: pointer;
}
/*----------------------------------------------------------------------*/
                            /*Xml Session Card*/
/*----------------------------------------------------------------------*/
.session-section{
    width: 100%;
    border: solid 1px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    border-color: #dfdfdf;
}