html, body {
    margin:0;
    padding:0;
}
/*----------------------------------------------------------------------*/
                            /*РАЗМЕТКА ШАБЛОНА*/
/*----------------------------------------------------------------------*/
#wrapper{
    margin: auto;
    height: calc(100vh - 160px);
}
#header{
    height: 60px;
    background-color: #3c4554;
    overflow: hidden
}
#sidebar{
    overflow: hidden;
    width:55px;
    height: inherit;
    background-color: /*#263238;*/ red;
    float: left;
}
#content{
    /*margin-left: 55px;*/
    height: inherit;
}
#footer{
    height: 100px;
    background-color: #3c4554;
    padding: 10px;
}
#cpcontent{
    padding-top: 20px;
}
#copyright{
    width: 100%;
    height: 100%;
    text-align: center;
}
#copyright p{
    vertical-align: middle;
    color: #e2ddea;
}
/*----------------------------------------------------------------------*/
                                /*HEADER*/
/*----------------------------------------------------------------------*/
#logo-container{
    height: 60px;
    width: 55px;
    background: #263238;
    float: left;
}
#logo-icon-container{
    height: 60px;
    width: 55px;
    float: left;
}
#logo-icon{
    font-size: 28px;
    color: #fded31;
    margin-left: 12px;
    margin-top: 17px;
}
#logo-caption-container{
    padding-top: 16px;
    /*height: 60px;
    min-width: 100px;
    display: inline-block;
    float: left;*/
    color: #fded31;
}
#logo-caption{
    width: 100%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    font-weight: bold;
    /*text-decoration: underline;*/
    font-style: normal;
}
/*----------------------------------------------------------------------*/
                                 /*МЕНЮ*/
/*----------------------------------------------------------------------*/
.settings {
    height:58px;
    background: url("/application/views/layouts/desktop/template/images/octopus_logo.jpg");
    background-color: #365382;
    background-repeat:no-repeat;
    width:250px;
    margin:0px;
    text-align: center;
    font-size:20px;
    font-family: 'Strait', sans-serif;
}
.fa-lg {
    font-size: 1em;
}
.fa-for-menu {
    position: relative;
    display: table-cell;
    width: 55px;
    height: 36px;
    text-align: center;
    top:12px;
    font-size:20px;
}
.main-menu {
    top:0;
    bottom:0;
    min-height:100px;
    left:0;
    width:55px;
    overflow:hidden;
    opacity:1;
    z-index: 15; /*Чтоб явно была выше TinyMCE*/
    font-weight: bold;
}
.main-menu>ul {
    margin:7px 0;
}
.main-menu li {
    position:relative;
    display:block;
    width:250px;
}
.main-menu li>a {
    position:relative;
    width:255px;
    display:table;
    border-collapse:collapse;
    border-spacing:0;
    color: #e2ddea;
    font-size: 16px;
    text-decoration:none;
    -webkit-transform:translateZ(0) scale(1,1);
    -webkit-transition:all .14s linear;
    transition:all .14s linear;
    font-family: 'Strait', sans-serif;
    border-top:1px solid #1a2129;
    text-shadow: 1px 1px 1px  #000;
}
.main-menu .nav-icon {
    position:relative;
    display:table-cell;
    width:55px;
    height:36px;
    text-align:center;
    vertical-align:middle;
    font-size:18px;
}
.main-menu .nav-text  {
    position:relative;
    display:table-cell;
    vertical-align:middle;
    width:190px;
    font-family: 'Titillium Web', sans-serif;
}
.main-menu .share {
}
.main-menu .fb-like {
    left: 180px;
    position:absolute;
    top: 15px;
}
.main-menu>ul.logout {
    position:absolute;
    left:0;
    bottom:0;
}
.no-touch .scrollable.hover {
    overflow-y:hidden;
}
.no-touch .scrollable.hover:hover {
    overflow-y:auto;
    overflow:visible;
}

a:hover,a:focus {
    text-decoration:none;
    border-left:0px solid #F7F7F7;
}
nav {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}

nav ul,nav li {
    outline:0;
    margin:0;
    padding:0;
    text-transform: uppercase;
}
/* Darker element side menu Start*/
.darkerli
{
    background-color:#ededed;
    text-transform:capitalize;
}
.darkerlishadow
{
    background-color:#ededed;
    text-transform:capitalize;
    -webkit-box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
    -moz-box-shadow:    inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
    box-shadow:         inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
}
.darkerlishadowdown
{
    background-color:#ededed;
    text-transform:capitalize;
    -webkit-box-shadow: inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
    -moz-box-shadow:    inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
    box-shadow:         inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
}
/* Darker element side menu End*/
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
    color:#fff;
    background-color: #37474f;
    text-shadow: 0px 0px 0px;
}
.area {
    float: left;
    background: #263238;
    width: 100%;
    min-height: 100px;
}
/*----------------------------------------------------------------------*/
                            /*ВСПЛЫВАЮЩИЕ ОКНА*/
/*----------------------------------------------------------------------*/
.success_flash_window{
    color: white;
    font-size: 30px;
    padding: 20px;
    /*width: 200px;*/
    height: 80px;
    border-radius: 10px;
    margin-left: calc(50% - 150px);
    margin-top: calc(40vh);
    position: fixed;
    background-color: #37474f;
    transition: opacity 500ms;
    visibility: visible;
    opacity: 0.8;
    z-index: 125;
    border-width: 2px;
}
.fail_flash_window{
    color: white;
    font-size: 30px;
    padding: 20px;
    /*width: 200px;*/
    height: 80px;
    border-radius: 10px;
    margin-left: calc(50% - 150px);
    margin-top: calc(40vh);
    position: fixed;
    background-color: #e80000;
    transition: opacity 500ms;
    visibility: visible;
    opacity: 0.8;
    z-index: 125;
    border-width: 2px;
}

#failed_window{
    color: white;
    font-size: 30px;
    padding: 20px;
    /*width: 200px;*/
    height: 80px;
    border-radius: 10px;
    margin-left: calc(50% - 150px);
    margin-top: calc(40vh);
    position: fixed;
    background-color: #ee2406;
    transition: opacity 500ms;
    visibility: visible;
    opacity: 0.8;
    z-index: 125;
    border-width: 2px;
}
/*----------------------------------------------------------------------*/
                                /*ТАБЛИЦЫ*/
/*----------------------------------------------------------------------*/
.tr-table-header{
    background-color: #37474F;
    color: white;
    font-size: 12px;
}
.tr-table-content{
    background-color: white;
    font-size: 12px;
}
.table-mine > thead > tr > th,
.table-mine > tbody > tr > th,
.table-mine > tfoot > tr > th,
.table-mine > thead > tr > td,
.table-mine > tbody > tr > td,
.table-mine > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    text-align: center;
}
.box-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}
/*----------------------------------------------------------------------*/
                        /*ПОЛЯ ВВОДА (INPUTS)*/
/*----------------------------------------------------------------------*/
input {
    outline:none;
}
.transparent-inputs{
    border: none;
    text-align: center;
    cursor: auto;
    background-color: transparent;
}
/*.transparent-inputs:focus{
    border: 1px solid #37474F;
    background-color: #00a4a2;
}*/
/*----------------------------------------------------------------------*/
                            /*РАЗНОЕ*/
/*----------------------------------------------------------------------*/
.full-width{
    width:100%;
}
.controls-panel{
    margin-top: 5px;
    padding: 5px;
}
.hidden{
    display: none;
}
.background-green{
    background-color: #28a745; !important;
}
.background-darkred{
    background-color: darkred !important;
    color: white !important;
}
.module-wrapper{
    background: #eeeeee;
    border: solid 1px;
    padding-top: 15px;
    border-color: #c1c1c1;
    border-radius: 10px;
}
/*----------------------------------------------------------------------*/
                                /*ОТСТУПЫ*/
/*----------------------------------------------------------------------*/
.padding-left15{
    padding-left: 15px;
}
.test{
    width: 100%;
    background: #ffe3c9;
    margin-left: 15px;
    border: solid 1px;
}
.content-wrapper{
    width: 100%;
    min-height: 300px;
    border: solid 2px;
    padding: 5px;

    background-color: white;
    border-radius: 5px;
    border-color: #dce1e5;
    margin-bottom: 15px;
}
.custom-centered{
    margin-left: auto;
    margin-right: auto;
}
/*----------------------------------------------------------------------*/
                                /*РАЗДЕЛ КАРТЫ*/
/*----------------------------------------------------------------------*/
.cards-toolbar{
    width: 100%;
    height: 45px;
    background: white;
    border: solid 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: #dce1e5;
    padding: 5px;
}
.cards-workplace{
    margin-top: 5px;
    margin-bottom:10px;
    width: 100%;
    min-height: 500px;
    background: white;
    border: solid 2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color: #dce1e5;
    padding: 5px;
}
.cards-nav-bar{
    width: 100%;
    height: 38px;
    border-bottom: solid 2px;
    border-color: #dce1e5;
}
.cards-search-bar{
    width: inherit;
    height: 35px;
    padding: 5px;
}
.cards-content{
    width: inherit;
    height: inherit;
}
.cards-search-input{
    width: 250px;
    font-size: 12px;
    border: solid 2px;
    border-radius: 5px;
    padding-left: 5px;
}
/*----------------------------------------------------------------------*/
                         /*Панель пользователя*/
/*----------------------------------------------------------------------*/
.user-bar{
    background: chartreuse;
    min-width: 150px;
    height: 60px;
    float: right;
}
.user-bar-profile{
    background: blue;
    min-width: 150px;
    height: 60px;
    display: inline-block;
    border-left: solid 2px;
    border-right: solid 2px;
    padding-top: 5px;
}
.user-bar-profile-foto{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    display: table-cell;
}
.user-bar-profile-user{
    min-width: 50px;
    height: 30px;
    margin-left: 60px;
    display: table-cell;
    vertical-align: middle;
    /*margin-right: 20px;
    margin-top: -40px;*/
}
.user-bar-profile-logout{
    display: table-cell;
    vertical-align: middle;
}

.user-bar-table {
    display:table;
    border-collapse:separate;
    border-spacing:5px;
}
.user-bar-row {
    display:table-row;
}
.user-bar-cell {display:table-cell;
    padding:5px;
    border:1px solid black;
}

/*----------------------------------------------------------------------*/
                        /*РАЗДЕЛ СТАРТ ПРИЛОЖЕНИЯ*/
/*----------------------------------------------------------------------*/

#templateContainer.fullscreen{
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#templateContainer .navbar.alta-theme {
    border-bottom: 1px solid #c0c0c0;
    box-shadow: 0px 10px 15px #c0c0c0;
    height: 85px;
    background-color: #F5F5F5;
}



/*
 * Main content
 */

#templateContainer .main {
    padding: 20px;
}
#templateContainer .main.alta-theme {
    margin-top: 40px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 60px;
        padding-left: 60px;
    }
}
#templateContainer .main .page-header {
    margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

#templateContainer .placeholders {
    margin-bottom: 30px;
    text-align: center;
}
#templateContainer .placeholders h4 {
    margin-bottom: 0;
    font-weight: bold;
}
#templateContainer .placeholder {
    margin-bottom: 50px;
}
#templateContainer .placeholder img {
    display: inline-block;
    border-radius: 50%;
}
#templateContainer .placeholder .dashboard-item {
    display:inline-block;
    width:150px;
    height:150px;
    border:9px double #EFF;
    border-radius:50%;
    vertical-align: middle;
    font-size: 65px;
    color: #FFF;
    box-shadow: 0px 0px 10px #999;
}
#templateContainer .placeholder .dashboard-item:hover {
    box-shadow: 0px 0px 25px #888;
}

/* circular navigation */
#templateContainer .circular-menu {
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

#templateContainer .circle {
    width: 250px;
    height: 250px;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

#templateContainer .open.circle {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}

#templateContainer .circle a {
    text-decoration: none;
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    position: absolute;
    text-align: center;
    line-height: 80%;
    font-weight: bold;
}

#templateContainer .circle a:hover {
}

#templateContainer .menu-button {
    position: relative;
    top: -225px;
}
#templateContainer .dashboard-item.menu-button.selected {
    top: -175px;
    width: 100px;
    height: 100px;
    font-size: 35px;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    transition: all 0.4s linear;
}